.button_img {
    height: 40px;
    width: 40px;
    pointer-events: none;
}

button {
    border: none;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    opacity: 0.3;
}

.toggled {
    opacity: 1;
}

